{% extends 'common.html' %}
{% block common %}
    {% load static %}
    <table align="center">
        <tr>
            <th><img src="{% static 'images/16_years_web.jpg' %}"></th>
            <th>
                <h2>Boubyan Bank’s 16th Anniversary</h2>
                <p> Message from Mr. Adel Al-Majed - Vice Chairman &amp; CEO of Boubyan Bank </p>
                <a href="#" target="">Learn More</a>
            </th>
        </tr>
        <tr>
            <th><img src="{% static 'images/bb_branch.jpg' %}"></th>
            <th>
                <h2>Open Account through Boubyan Direct</h2>
                <p> Open your first Boubyan account and issue your card through Boubyan Direct </p>
                <a href="#" target="">Learn More</a>
            </th>
        </tr>

    </table>

{% endblock %}