{% extends 'common.html' %}
{% block common %}
    {% load static %}
    <img src="{% static 'images/aboutus.jpg' %}" style="width: 100%;height: auto">

    <br><br><br>


    <div class="container row" style="padding-left: 80px">

        <div class="card col-lg-1" style="width: 25rem;">
          <img src="{% static 'images/aboutus1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" align="center">What We Do</h5>
            <p class="card-text" align="center">
                As global leaders in IT services, digital, and business solutions, we partner with clients to simplify, strengthen, and transform their businesses.
            </p>
          </div>
        </div>
        <div class="card col-lg-2" style="width: 25rem;">
          <img src="{% static 'images/aboutus2.jpg' %}" class="card-img-top" alt="..." style="height: 360px">
          <div class="card-body">
            <h5 class="card-title" align="center">Our Customers</h5>
            <p class="card-text" align="center">
                Today, customer experience defines the brand, analytics overrule instincts, and innovation, insight, and agility—not size—defines winners.
            </p>
          </div>
        </div>
        <div class="card col-lg-3" style="width: 25rem;">
          <img src="{% static 'images/aboutus3.jpg' %}" class="card-img-top" alt="..." style="height: 360px">
          <div class="card-body">
            <h5 class="card-title" align="center">Our Talent</h5>
            <p class="card-text" align="center">
                We are providing software products throughout the world, We can able to build any kind of software products ie, any technology. our clients are from USA,Canada,UK,South Koria,India,etc..

            </p>
          </div>
        </div>

    </div>
{% endblock %}
