{% extends 'common.html' %}
{% block common %}
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<img src="{% static 'images/contactus.jpg' %}" width="100%">
    <br><br>

    <div class="container">
        <h2>Contact Details</h2>
        <p>
            We recently helped a small business grow from break-even to over 200k profit in less than a year. Have a general question concerning fortune, but don't know who to contact? Please find below contact details and contact us today!
        </p>
        <br><br>
        <div class="row">
            <i class="fa fa-home col-lg-1" style="font-size: 30px"></i>
            <h3 class="col-lg-2">Address:</h3>
            <p style="padding-left: 120px">Rajamahendravaram,Andhra Pradesh,India</p>
        </div>
        <div class="row">
            <i class="fa fa-phone col-lg-1" style="font-size: 30px"></i>
            <h3 class="col-lg-2">Contact Us:</h3>
            <p style="padding-left: 120px">+91-7386655257</p>
        </div>
        <div class="row">
            <i class="fa fa-envelope col-lg-1" style="font-size: 30px"></i>
            <h3 class="col-lg-2">Mail Us:</h3>
            <p style="padding-left: 120px">ivsrikanth279@gmail.com</p>
        </div>
    </div>

{% endblock %}