{% extends 'common.html' %}
{% block common %}
    {% load static %}
{% if messages %}
    {% for x in messages %}
        <div class="alert alert-primary" role="alert" align="center">
          {{ x }}
        </div>
    {% endfor %}
{% endif %}


<form action="{% url 'save_project_details' %}" method="post">
{% csrf_token %}
    <div align="center" class="container" style="background-color: #bbbbbb">
        <h3 style="color: blue">Upload Your Project Details Here</h3>
        {{ form.as_p }}
        <button type="submit" class="btn-info">Upload Requirement</button>
    </div>
</form>
{% endblock %}