{% extends 'common.html' %}
{% block common %}
    {% load static %}
    <br><br>

<div class="container row" align="center" style="padding-left: 120px">

    <div class="card col-" style="width: 18rem;">
      <img src="{% static 'images/c.jpg' %}" class="card-img-top" alt="..." style="width: 275px;height: 200px">
      <div class="card-body">
        <p class="card-text">C is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion, with a static type system. By design, C provides constructs that map efficiently to typical machine instructions.</p>
      </div>
    </div>

    <div class="card col-" style="width: 18rem;">
      <img src="{% static 'images/cpp.png' %}" class="card-img-top" alt="..." style="width: 275px;height: 200px">
      <div class="card-body">
        <p class="card-text">C++ is a general-purpose programming language created by Bjarne Stroustrup as an extension of the C programming language, or "C with Classes".</p>
      </div>
    </div>

    <div class="card col-" style="width: 18rem;">
      <img src="{% static 'images/c#.png' %}" class="card-img-top" alt="..." style="width: 275px;height: 200px">
      <div class="card-body">
        <p class="card-text">C# is a general-purpose, multi-paradigm programming language encompassing static typing, strong typing, lexically scoped, imperative, declarative, functional, generic, object-oriented, and component-oriented programming disciplines.</p>
      </div>
    </div>

    <div class="card col-" style="width: 18rem;">
      <img src="{% static 'images/java.png' %}" class="card-img-top" alt="..." style="width: 275px;height: 200px">
      <div class="card-body">
        <p class="card-text">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. </p>
      </div>
    </div>

    <div class="card col-" style="width: 18rem;">
      <img src="{% static 'images/python.png' %}" class="card-img-top" alt="..." style="width: 275px;height: 200px">
      <div class="card-body">
        <p class="card-text">Python is an interpreted, high-level and general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant whitespace.</p>
      </div>
    </div>

    <div class="card col-" style="width: 18rem;">
      <img src="{% static 'images/ml.jpg' %}" class="card-img-top" alt="..." style="width: 275px;height: 200px">
      <div class="card-body">
        <p class="card-text">Machine learning is the study of computer algorithms that improve automatically through experience. It is seen as a subset of artificial intelligence.</p>
      </div>
    </div>

    <div class="card col-" style="width: 18rem;">
      <img src="{% static 'images/ai.jpg' %}" class="card-img-top" alt="..." style="width: 275px;height: 200px">
      <div class="card-body">
        <p class="card-text">Artificial intelligence, is intelligence demonstrated by machines, unlike the natural intelligence displayed by humans and animals, which involves consciousness and emotionality. The distinction between the former and the latter categories is often revealed by the acronym chosen.</p>
      </div>
    </div>

    <div class="card col-" style="width: 18rem;">
      <img src="{% static 'images/wt.png' %}" class="card-img-top" alt="..." style="width: 275px;height: 200px">
      <div class="card-body">
        <p class="card-text">Web technology refers to the means by which computers communicate with each other using markup languages and multimedia packages. It gives us a way to interact with hosted information, like websites. Web technology involves the use of hypertext markup language (HTML) and cascading style sheets (CSS).</p>
      </div>
    </div>



</div>
{% endblock %}