{% extends 'common.html' %}
{% block common %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<div class="container">
    <canvas id="myChart"></canvas>
</div>
    <br><br>
<div class="container">
    <canvas id="myChart2"></canvas>
</div>




<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: {{ age }},
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(180, 199, 90)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ sal }}
            }]
        },
        // Configuration options go here
        options: {}
    });
</script>
<script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: {{ age }},
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(10, 99, 130)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ sal }}
            }]
        },
        // Configuration options go here
        options: {}
    });
</script>

    {% if message %}
        <div class="alert alert-success" role="alert" align="center">
          {{ message }}
        </div>
    {% endif %}
    {% if messages %}
      {% for x in messages %}
          <div class="alert alert-success" role="alert" align="center">
              {{ x }}
          </div>
      {% endfor %}
    {% endif %}
{% endblock %}