{% extends 'common_user.html' %}
{% block common_user %}
<br><br>
<div class="table-bordered">
    <h4 align="center" style="color: blue"><u>Update Your Details Here</u></h4>

<form action="{% url 'update_details' %}" method="post">
    {% csrf_token %}
    <div class="container" style="width: 10cm">
        <div class="col">
          Employee Name: <input type="text" name="e1" value="{{ user.name }}" pattern="[a-zA-Z]+" required maxlength="30" class="form-control" placeholder="Employee Name">
        </div><br>
        <div class="col">
          Date Of Birth: <input type="text" readonly required value="{{ user.dob }}" class="form-control">
        </div><br>
        <div class="col">
          Pincode: <input type="number" name="e3" value="{{ user.location }}" required min="100000" max="999999" pattern="[0-9]" class="form-control" placeholder="Location">
        </div><br>
        <div class="col">
          Salary: <input type="number" name="e4" value="{{ user.salary }}" required min="1000" class="form-control" placeholder="Salary">
        </div><br>
        <div class="col">
          Password: <input type="password" name="e5" value="{{ user.password }}" required class="form-control" placeholder="Password">
        </div><br>
        <div class="col-auto">
          <button type="submit" value="{{ user.idno }}" name="idno" class="btn btn-primary mb-2">Update Details</button>
        </div>
    </div>
</form>
</div>
{% endblock %}