<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        #head{
            background-color: orangered;
            color: white;
            text-align: center;
            font-size: 20px;
        }
        #tab{
            border-color: blue;
        }
    </style>


    <title>Dashboard</title>
  </head>
  <body>

    <table align="center" width="100%" border="2" id="tab">
        <tr>
            <th width="15%" id="head">Volumes</th>
            <th width="70%" id="head">Subject</th>
            <th width="15%" id="head">Search</th>
        </tr>
        <tr>
            <th width="15%">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Volumes
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="http://127.0.0.1:5000/vol1">Volume_01</a></li>
                      <li><a href="http://127.0.0.1:5000/vol2">Volume_02</a></li>
                      <li><a href="http://127.0.0.1:5000/vol3">Volume_03</a></li>
                      <li><a href="http://127.0.0.1:5000/vol4">Volume_04</a></li>
                      <li><a href="http://127.0.0.1:5000/vol5">Volume_05</a></li>
                      <li><a href="http://127.0.0.1:5000/vol6">Volume_06</a></li>
                      <li><a href="http://127.0.0.1:5000/vol7">Volume_07</a></li>
                      <li><a href="http://127.0.0.1:5000/vol8">Volume_08</a></li>
                      <li><a href="http://127.0.0.1:5000/vol9">Volume_09</a></li>
                      <li><a href="http://127.0.0.1:5000/vol10">Volume_10</a></li>
                      <li><a href="http://127.0.0.1:5000/vol11">Volume_11</a></li>
                      <li><a href="http://127.0.0.1:5000/vol12">Volume_12</a></li>
                      <li><a href="http://127.0.0.1:5000/vol13">Volume_13</a></li>
                      <li><a href="http://127.0.0.1:5000/vol14">Volume_14</a></li>
                      <li><a href="http://127.0.0.1:5000/vol15">Volume_15</a></li>
                      <li><a href="http://127.0.0.1:5000/vol16">Volume_16</a></li>
                      <li><a href="http://127.0.0.1:5000/vol17">Volume_17</a></li>
                      <li><a href="http://127.0.0.1:5000/vol18">Volume_18</a></li>
                      <li><a href="http://127.0.0.1:5000/vol19">Volume_19</a></li>

                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sections
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="http://127.0.0.1:5000/sec1">Section-1</a></li>
                      <li><a href="http://127.0.0.1:5000/sec2">Section-2</a></li>
                      <li><a href="http://127.0.0.1:5000/sec3">Section-3</a></li>
                      <li><a href="http://127.0.0.1:5000/sec4">Section-4</a></li>
                      <li><a href="http://127.0.0.1:5000/sec5">Section-5</a></li>
                      <li><a href="http://127.0.0.1:5000/sec6">Section-6</a></li>
                      <li><a href="http://127.0.0.1:5000/sec7">Section-7</a></li>
                      <li><a href="http://127.0.0.1:5000/sec8">Section-8</a></li>
                      <li><a href="http://127.0.0.1:5000/sec9">Section-9</a></li>
                      <li><a href="http://127.0.0.1:5000/sec10">Section-10</a></li>
                      <li><a href="http://127.0.0.1:5000/sec11">Section-11</a></li>
                      <li><a href="http://127.0.0.1:5000/sec12">Section-12</a></li>
                      <li><a href="http://127.0.0.1:5000/sec13">Section-13</a></li>
                      <li><a href="http://127.0.0.1:5000/sec14">Section-14</a></li>
                      <li><a href="http://127.0.0.1:5000/sec15">Section-15</a></li>
                      <li><a href="http://127.0.0.1:5000/sec16">Section-16</a></li>
                      <li><a href="http://127.0.0.1:5000/sec17">Section-17</a></li>
                      <li><a href="http://127.0.0.1:5000/sec18">Section-18</a></li>
                      <li><a href="http://127.0.0.1:5000/sec19">Section-19</a></li>
                      <li><a href="http://127.0.0.1:5000/sec20">Section-20</a></li>
                      <li><a href="http://127.0.0.1:5000/sec21">Section-21</a></li>

                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Appendix
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="http://127.0.0.1:5000/sec1">appendix-A</a></li>
                      <li><a href="http://127.0.0.1:5000/sec2">appendix-B</a></li>
                      <li><a href="http://127.0.0.1:5000/sec3">appendix-C</a></li>
                      <li><a href="http://127.0.0.1:5000/sec4">appendix-D</a></li>
                      <li><a href="http://127.0.0.1:5000/sec5">appendix-E</a></li>
                      <li><a href="http://127.0.0.1:5000/sec6">appendix-F</a></li>
                      <li><a href="http://127.0.0.1:5000/sec7">appendix-G</a></li>
                      <li><a href="http://127.0.0.1:5000/sec8">appendix-H</a></li>
                      <li><a href="http://127.0.0.1:5000/sec9">appendix-I</a></li>
                      <li><a href="http://127.0.0.1:5000/sec10">appendix-J</a></li>
                      <li><a href="http://127.0.0.1:5000/sec11">appendix-K</a></li>

                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Annexure
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="http://127.0.0.1:5000/sec1">Annexure-1</a></li>
                      <li><a href="http://127.0.0.1:5000/sec2">Annexure-2</a></li>
                      <li><a href="http://127.0.0.1:5000/sec3">Annexure-3</a></li>
                      <li><a href="http://127.0.0.1:5000/sec4">Annexure-4</a></li>
                      <li><a href="http://127.0.0.1:5000/sec5">Annexure-5</a></li>
                      <li><a href="http://127.0.0.1:5000/sec6">Annexure-6</a></li>
                      <li><a href="http://127.0.0.1:5000/sec7">Annexure-7</a></li>
                      <li><a href="http://127.0.0.1:5000/sec8">Annexure-8</a></li>
                      <li><a href="http://127.0.0.1:5000/sec9">Annexure-9</a></li>
                      <li><a href="http://127.0.0.1:5000/sec10">Annexure-10</a></li>
                      <li><a href="http://127.0.0.1:5000/sec11">Annexure-11</a></li>
                      <li><a href="http://127.0.0.1:5000/sec11">Annexure-12</a></li>

                    </ul>
                </div>

            </th>

            <th style="padding: 30px">
                {% if data %}
                    <div class="container" style="width: 700px">
                    <p style="font-family: courier-new">
                        {{ data }}
                    </p>
                    </div>
                {% endif %}
            </th>

            <th align="center">
                <form action="http://127.0.0.1:5000/search" method="post">
                    <input type="text" placeholder="Search Keyword" name="t1" class="form-control">
                    <br>
                    <button type="submit" class="btn-default">Search</button>
                </form>

            </th>
        </tr>

    </table>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>