{% extends 'common.html' %}
{% block common %}
<h3 style="text-align: center;font-size: 20px;color: blue"><u>Admin Sign-in</u></h3>
<form action="{% url 'admin_login_check' %}" method="post">
{% csrf_token %}
    <div class="container" style="width: 10cm">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" required name="s1" class="form-control" id="inlineFormInputGroup" placeholder="Username">
          </div>
        </div>
        <div class="col-auto">
            <div class="input-group mb-2">
                <input type="password" required name="s2" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">SignIn</button>
        </div>
    </div>
</form>
    {% if messages %}
        {% for x in messages %}
            <div class="alert alert-danger" role="alert">
              {{ x }}
            </div>
        {% endfor %}
    {% endif %}
    {% if message %}
        <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
    {% endif %}
{% endblock %}