{% extends 'common.html' %}
{% block common %}


<style>
th{
    width: 3cm;
    text-align: center;
}
</style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'admin' %}">Logout</a>
      <a class="nav-link" href="{% url 'signup' %}">Add New Employee <span class="sr-only">(current)</span></a>
    </nav>
<h2 style="font-size: 20px;color: blue;text-align: center">DASHBOARD</h2>
    <table align="center" border="2">
    <tr>
        <th>SNO</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Change Status</th>
    </tr>
    {% for x in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ x.name|capfirst }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.username }}</td>
            <td align="center">
                <span style="color: blue"><u>{{ x.status|capfirst }}</u></span>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <form action="{% url 'change_to_active' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" value="{{ x.username }}" name="b1" class="btn btn-primary mr-1 mb-2">Activate</button>
                    </form>
                    <form action="{% url 'change_to_deactive' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" value="{{ x.username }}" name="b2" class="btn btn-secondary mr-1 mb-2">Deactivate</button>
                    </form>

                    <form action="{% url 'change_to_delete' %}" method="post" onsubmit="return confirm('Do you want to delete the data press OK')">
                        {% csrf_token %}
                        <button type="submit" value="{{ x.username }}" name="b3" class="btn btn-danger mr-1 mb-2">Delete</button>
                    </form>

                </div>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="4" align="center">Total</th>
        <th align="center">{{ total }}</th>
    </tr>

    {% if message %}
        <tr><td colspan="5" align="center" style="background-color: red;color: white">{{ message }}</td></tr>
    {% endif %}
    </table>
{% endblock %}