{% extends 'common.html' %}
{% block common %}
{% include 'menu.html' %}
<br><br>
    <form action="{% url 'send_otp_to_email' %}" method="post">
    {% csrf_token %}
    <div class="container" align="center">
    <h4>Forgot Password</h4><br>
    Email : <input type="email" name="e1" required placeholder="Email"><br><br>
    <button type="submit">Get OTP</button>

    </div>
    </form>

    {% if messages %}
        {% for x in messages %}
            <div class="alert alert-danger" role="alert" align="center">
              {{ x }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}