{% extends 'common.html' %}
{% block common %}
    {% include 'user_menu.html' %}
    <h2 style="text-align: center;color: blue;font-size: 25px">Welcome: {{ user.name|capfirst }}</h2>

    <form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
        <div class="container" align="center">
        Change Password: <input type="password" name="p1" required placeholder="New Password"><br><br>
        Confirm Password: <input type="password" name="p2" required placeholder="Confirm"><br><br>
            <button type="submit" value="{{ user.username }}" name="un" class="btn-default">Change</button>
        </div>
    </form>

    {% if message %}
        <div class="alert alert-success" role="alert" align="center">
           {{ message }}
        </div>
    {% endif %}
    {% if messages %}
        {% for x in messages %}
            <div class="alert alert-danger" role="alert" align="center">
              {{ x }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}