{% extends 'common.html' %}
{% block common %}
{% include 'menu.html' %}
<br><br>
    <form action="{% url 'save_new_password' %}" method="post">
    {% csrf_token %}
        <div class="container" align="center">
        New Password: <input type="password" name="p1" required placeholder="New Password"><br><br>
        Confirm Password: <input type="password" name="p2" required placeholder="Confirm"><br><br>
            <button type="submit" value="{{ user }}" name="user" class="btn-default">Change</button>
        </div>
    </form>



    {% if messages %}
        {% for x in messages %}
            <div class="alert alert-danger" role="alert" align="center">
              {{ x }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}